/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  
} */

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif
}

.hidden {
  display: none;
}

.full-width {
  width:  100%;
}

.small {
  font-size: small;
}

.w3-main {
  margin-left: 300px;
}

.side-logo {
  width:  150px;
}

.left-float{
  float: left;
}

.menu-open {
  left: -300px;
  transition: all 0.4s ease;
}

.news-img {
  width:  50px!important;
}

.no-score {
  text-decoration: none;
}

.sn_overflow {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 1; */
  /* display: none; */
}

/* custom */
.article-width {
  width:  250px;
}
.float-left {
  float: left;
}

.list-width {
  width:  50px;
}

.list-box {
  color:#000!important;
  background-color:#fff!important;
  padding: 16px;
}

.list-box-title {
  max-height: 50px;  
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-link {
  display: none;
}

.t-item-icon {
  margin: 0 3px;
}